/*================================
    Create Button Variables
================================*/
// Variables for the Create Button


@import "cockpitng-globals.scss";

$actionLogo__btn--width: 25px;
$actionLogo__btn--margin-left: 2px;
$actionLogo__btn--margin-right: 2px;
$actionLogo__btn--padding: 0;
$actionLogo__btn--background: none;
$actionLogo__btn-hover--background: none;
$actionLogo__btn-img--height: 24px;