# platform_only recipe

platform_only_recipe/hybris/log
platform_only_recipe/hybris/temp
platform_only_recipe/hybris/bin/ext-accelerator/
platform_only_recipe/hybris/bin/ext-addon/
platform_only_recipe/hybris/bin/ext-atdd/
platform_only_recipe/hybris/bin/ext-atddtests/
platform_only_recipe/hybris/bin/ext-backoffice/
platform_only_recipe/hybris/bin/ext-channel/
platform_only_recipe/hybris/bin/ext-cockpit/
platform_only_recipe/hybris/bin/ext-commerce/
platform_only_recipe/hybris/bin/ext-content/
platform_only_recipe/hybris/bin/ext-customer-experience/
platform_only_recipe/hybris/bin/ext-data/
platform_only_recipe/hybris/bin/ext-eventtracking/
platform_only_recipe/hybris/bin/ext-integration/
platform_only_recipe/hybris/bin/ext-platform-backoffice/
platform_only_recipe/hybris/bin/ext-platform-optional/
platform_only_recipe/hybris/bin/ext-print/
platform_only_recipe/hybris/bin/ext-supportability/
platform_only_recipe/hybris/bin/ext-template/
platform_only_recipe/hybris/bin/ext-smartedit
platform_only_recipe/hybris/bin/ext-webservices

# b2b_acc recipe

b2b_acc/hybris/bin/ext*

# vim
*.swp

# IDE

.idea
b2b_acc/hybris/config/hybris4intellij.properties
idea-module-files/
