/log
/temp
/bin/ext-accelerator/
/bin/ext-addon/
/bin/ext-atdd/
/bin/ext-atddtests/
/bin/ext-backoffice/
/bin/ext-channel/
/bin/ext-cockpit/
/bin/ext-commerce/
/bin/ext-content/
/bin/ext-customer-experience/
/bin/ext-data/
/bin/ext-eventtracking/
/bin/ext-integration/
/bin/ext-platform-backoffice/
/bin/ext-platform-optional/
/bin/ext-print/
/bin/ext-supportability/
/bin/ext-template/
/bin/ext-smartedit
/bin/ext-webservices
