@import "cockpitng-globals.scss";

.yw-editorarea-password {
    &-editor-spacer {
        margin-bottom: $editorarea__password_panel--padding;
    }

    &-match-validation {
        margin-top: $editorarea__password_panel--padding;

        .yw-editorarea-tabbox-tabpanels & {
            color: $editorarea__password-panel-label-validation--color;
        }
    }
}
