@import "cockpitng-globals.scss";

$date-editor__box--bg-color: $white;
$date-editor__box--border-color: $grey__default--900;
$date-editor__box--focus-color: $blue__default;

$date-editor__invalid-box--border-color: $validation__error--color; 

