<html>
	<head>
		<title><% out.print maintenancepage_title ?: "This site is down" %></title>
	</head>
	<body>
		<h1><% out.print maintenancepage_title ?: "This site is down" %></h1>
		<p><% out.print maintenancepage_content ?: "We're sorry this site is down.  Please try again later!" %></p>
	</body>
</html>