.yw-de_hybris_platform_adaptivesearch_widgets_searchContext {
  .yas-selectors {
    display: block;

    .yas-language-selector {
        display: inline-block;
    }

    .yas-currency-selector {
        display: inline-block;
    }
  }
}
