.replenishment-cancel-button {
  span {
    color: @link-color;
    font-size: 21px;
    padding: 13px;
  }
}

.right-cartName {
  margin-left: 60%;
  font-size: 12px;
  text-align: right;
}

.responsive-table-cell.less-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.replenishment-order-history {
  margin-top: @grid-gutter-width * 2;
}

.account-section {
  .backlink {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.sort-refine-bar .form-group select {
  width: 150px;
}

@media (max-width: @screen-xs-max) {
  .sort-refine-bar .form-group select {
    width: 100%;
  }
}

.responsive-table th:last-child {
  text-align: center;
  padding-right: 70px;
}

.responsive-table-item td:last-child {
  text-align: center;
  padding-right: 70px;
}

@media (max-width: @screen-xs-max) {
  .responsive-table-item td:last-child {
    text-align: left;
    padding-right: 0;
  }
}

///////////////////////////////////////////
// replenishment cancel modal
//////////////////////////////////////////
.replenishment-order-cancel-modal {
  #cboxLoadedContent {
    margin-top: 90px;
  }
  #cboxTitle {
    height: 90px;
  }
  .modal-actions {
    margin-top: 30px;
  }
}

///////////////////////////////////////////
//  order history detail
///////////////////////////////////////////
.orderListTable {
  margin-top: -(@grid-gutter-width/2 + 1);
  background-color: #fff;

  th, td {
    padding-left: @grid-gutter-width;
    padding-right: @grid-gutter-width;
    vertical-align: top;
  }

  tbody {
    > tr:nth-child(even) {
      background-color: @table-2n-line-bg;
    }
    > tr:nth-child(odd):last-child {
      border-bottom: 1px solid @border-color;
    }
  }
}

@media (max-width: @screen-xs-max) {
  .orderListTable {
    th, td {
      padding-left: @grid-gutter-width/2;
    }
  }

  .order-approval-list {
    .responsive-table-item td {
      padding-left: 0;
    }
  }

  #reorderButton {
    margin-top: @grid-gutter-width;
  }

  .replenishment-overview-table {
    .replenishment-order-number {
      width: 51%;
    }
    .responsive-table-item {
      position: relative;
    }
    .replenishment-cancel-button {
      position: absolute;
      right: 5px;
      top: 0;
    }
  }
}

///////////////////////////////////////////
// replenishment detail view
///////////////////////////////////////////
.read-only-grid {
  .grid-row > td tr:first-child td {
    padding-top: @grid-gutter-width/2;
  }
}

///////////////////////////////////////////
// quote detail page
///////////////////////////////////////////
.quote-header {
  position: relative;
  background: @table-2n-line-bg;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  .full-width-padding();

  &.pre-table {
    margin-bottom: 10px;
  }

  &.no-margin-top {
    margin-top: 0;
  }
}

.customer-approval-comments {
  .responsive-table-item td:last-child, th:last-child {
    text-align: left;
  }
}

.page-order-approval-details {
  .enable-link, .disable-link {
    margin: 25px 0;
  }
}

.margin-bottom-25 {
  margin-bottom: 25px
}

.comment-modal {
  textarea {
    width: 100%;
    height: 150px;
  }

  .headline {
    margin-bottom: 5px;
  }

  .help-block {
    margin-bottom: @grid-gutter-width*1.5;
    margin-top: 0;
    font-size: 12px;
    text-align: right;
  }

  @media (max-width: @screen-sm-max) {
    .form-actions div:first-child {
      margin-bottom: 20px;
    }
  }
}